@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Greetz yo</h1>
    <p>Let's play my game. HA!</p>
    <form method="post">
        <button type="submit" class="green">Ok, play!</button>
    </form>
</div>
